#header{
	width: 850px;
	height: 100px;	
}
#nav{
	width: 850px;
	height: 50px;
}
#main{
	width: 850px;
	height: 500px;
	}
#footer{
	width: 850px;
	height: 50px;
}
#header, #nav, #main, #footer{
	margin: 0 auto;
	border:  1px solid black;
	text-align: center;
}
.child{
	width: 24.88%;
	height: 100%;
	float: left;
	border-right: 1px solid black;
}